@model List<CarRentalAppMvc.Models.VehicleWorkingTime>

@{
    ViewData["Title"] = "Vehicle Working Times";
}


<h1>Vehicle Working Times</h1>

<table class="table table-striped">
    <thead>
        <tr>

            <th>Vehicle Name</th>
            <th>LicensePlate</th>
            <th>Active Work Time</th>
            <th>Maintenanc Time</th>
            <th>Çalışma Zamanı</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row-@item.Id">
                <td>@item.Vehicle.Name</td>
                <td>@item.Vehicle.LicensePlate</td>
                <td>@item.ActiveWorkTime</td>
                <td>@item.MaintenanceTime</td>
                <td class="idle-time">@item.IdleTime</td> <!-- IdleTime burada görüntüleniyor -->
                <td>
                 
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detay</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>



